:root{--main-color: #3f51b5 ;}
body{
    
    background: #f6f6f6 !important ;

}
nav .brand-logo{
    padding-left:20px !important; 
}
nav .nav-wrapper {

    padding-right: 20px  !important;
}

/* Side Nav */
.sidenav{
    padding-top: 30px  !important;
}

.add-post{
    margin-top: 50px !important;
}
.add-post input:focus{
    border-bottom: 1px solid indigo !important;

}

/* Container*/
@media only screen and (min-width: 993px)
.container {
    width: 90%;
}
/* Articels */
.article{
    background: #fff !important;
    padding: 20px !important;
    margin-top: 30px !important;
}
.article button{
    padding: 10px;
    color: #fff;
    background: var(--main-color);
    font-size: 16;
    border: 0;
    cursor: pointer;
}
.article a{
    color: var(--main-color) !important;
}